$color-yellow-1: rgb(220, 230, 30);
$color-black-1: rgb(0, 0, 0, 0.8);
$color-black-2: rgb(0, 0, 0);
$color-orange-1: rgb(235, 187, 97);
$color-white-1: rgba(231, 224, 30, 0.2);
$color-white-2: white;
$color-yellow-2: rgb(212, 212, 27);

.DatVe{
    background-image: url('../../public/images/bgmovie.jpg');
    height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 50px;
    padding-right: 15px;
    .overlay{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background: $color-black-1;
        height: 100%;
        width: 100%;
    }
    .left{
    padding-left: 8%;
    padding-right: 8%;
        h1{
            font-size: 35px;
            color: $color-yellow-1;
            font-weight: 700;
        }
        P{
            color: $color-white-2;
            font-weight: 700;
        }
        .manHinh{
            background: $color-orange-1;
            height: 25px;
            border-radius: 25px 25px 0px 0px;
            margin-bottom: 0;
        }
        .anhSang{
            background-color: $color-white-1;
            height: 15px;
            border-radius: 0px 0px 25px 25px;
        }
    }
}

.DatVeList{
    color: $color-white-2;
    .btn{
        background: $color-white-2;
        color: $color-black-2;
        font-weight: 500;
    }
    .hangDau{
        .btn{
            background: none;
            color: $color-yellow-2;
            font-weight: 700;
            border: none;
            pointer-events: none;
        }
    }
    .hangGhe{
        color: $color-yellow-2!important;
        padding-top: 5px;
    }
}

.Result{
    h2{
        font-size: 30px;
        color: $color-white-2;
        padding-top: 20px;
        padding-right: 15%;
        margin-bottom: 20px;
    }
    .chuThich{
        font-weight: 700;
        color: $color-white-2;
        .hinhVuong{
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
        .hinhVuong1{
            background: orange;
        }
        .hinhVuong2{
            background: red;
        }
        .hinhVuong3{
            background: white;
        }
    }
}

.table{
    margin-top: 10px;
    width: 450px;
    th{
        color: $color-white-2;
        font-weight: 600;
        // width: 50px;
    }
    td{
        color: orange;
        font-weight: 600;
    }
    .delete{
        span{
            color: red;
            font-weight: 900;
            font-size: 18px;
            transition: 0.3s;
            &:hover{
                cursor: pointer;
                overflow: hidden;
        }
        }
    }
    .tongTien{
        color: $color-white-2;
    }
}

.DatVeChair{
    .booking{
        background: red!important;
        color: $color-white-2;
    }
    .booked{
        background: orange!important;
        color: $color-white-2;
        pointer-events: none;
    }
}